*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important ;
    color: white !important;
}
.text-orng{
    color: orange;
}
/* Header Starts */
.header{
    width: 100%;
    min-height: 40px;
    display: flex;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}
.header-left {
    display: flex;
    align-items:  center !important;
    justify-content: space-evenly;
    width: 40%;
}
.header-right{
    display: flex;
    
}
.header-right i{
    margin: 5px;
    font-size: 25px;
}
/* Header End */

/* Navigation Starts */
.navigation{
    width: 100%;
    height: 500px;
    display: flex;
    background: url(/images/basketball.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 10%;
}
.nav-top{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bottom{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.nav-bottom h1{
    font-size: 60px;
}
.nav-bottom h3{
    font-size: 40px;
}
img{
    width: 100px;
    height: 100px;
}
.pages{
    width: 600px;
    height: 70px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.553);
    clip-path: polygon(0 100%, 20% 0, 100% 0, 100% 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    font-size: 15px; 
}
.pages a:hover{
    color: rgb(211, 173, 127) !important;
    border-bottom: .1rem solid rgb(211, 173, 127);
    padding-bottom: .5rem;
}
/* Navigation Ends */

/* Courses Start */
.courses{
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.courses .container{
    display: flex;
    height: 400px;
}
.info-1{
    width: 50% !important;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 240px;
    position: relative;
}
.info-1 button{
    background-color: orange;
    border: none;
    width: 150px;
    height: 40px;
    color: rgb(70, 70, 70);

}
.info-2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.info-logo{
    width: 200px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
}
.info-logo h5{
    margin-top: 3px;
}
.info-2 .i-2{
    height: 100px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.info-2 i{
    font-size: 30px;
    color: rgb(60, 60, 255);
}
/* Courses End */

/* İnvitation Start */

.invitation{
    background-image: url(/images/basketballteam.jpg);
    width: 100%;
    height: 600px;
    background-position: 10% 51%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.invitecard{
    width: 500px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px;
    text-align: center;
}
.playbutton{
    font-size: 70px;
    cursor: pointer;
    opacity: 90%;
}
